<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <link href="../../view/static/css/bootstrap.css" rel="stylesheet">
</head>
<style type="text/css">
/*居中*/
.frame {

    margin: 80px auto;
}
</style>

<body>
    <div class="container frame">
		<ul class="nav nav-tabs" >
			  <li  class="active"><a href="#">Home</a></li>
			  <li ><a href="#">Profile</a></li>
			  <li ><a href="#">Messages</a></li>
		</ul>
    </div>
</body>
<script src="../../view/static/js/jquery-2.1.1.js"></script>
<script src="../../view/static/js/bootstrap.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('ul.nav.nab-tabs li').on('click',function(){
		$.each()
	});
	console.log($('ul li'));
});
</script>

</html>